@import url("estilos/header.css");

:root{
    --amarelo:#8dc; --fundo-azul:#276;
    --lilas:#fff; --fonte-projeto:"Dosis";

}
body{
    background-color: var(--amarelo);
    margin: 0; font-family: var(--fonte-projeto);
}