@import url("estilos/header.css");

:root{
    --amarelo:#3366FF; --fundo-azul:#23239de4;
    --lilas:#a510a5; --fonte-projeto:"Dosis";

}
body{
    background-color: var(--amarelo);
    margin: 0; font-family: var(--fonte-projeto);
}